/* Write your code here. */
li {
  list-style-type: none;
}
.button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .image {
    width: 55px;
    height: 50px;
  }
}
